/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2016, 4:49:38 PM
    Author     : utpal.sharma
*/

 //colors
$color_fuscous_gray_approx: #c4a485;
$Black: black;

footer {
	background-color: $color_fuscous_gray_approx;
	color: $Black;
        font-size: 20px;
        white-space: nowrap;
	padding: 15px;
        opacity: 0.5;
} 
