<div class="report-login-bg-content">
    <div class="container-fluid">
        <div class="row">
             <div class="col-sm-12 col-md-12">
                    <div class="login-header">Report Application</div>
             </div>
        </div>
    </div>
    
    <div class="report-home-main">
        <div class="row">
            <button type="button" class="btn btn-default" style="background:#ffffff;margin-left:32px;margin-top:20px;font-weight:bold;font-size:20px;width:400px;">
                <span class="glyphicon glyphicon-user"></span><text style="color:#990033"> Administrator </text></button>
        </div>
        <br>
        <div class="row">
            <button type="button" class="btn btn-default" style="background:#ffffff;margin-left:32px;margin-top:20px;font-weight:bold;font-size:20px;width:400px;">
                <span class="glyphicon glyphicon-pencil"></span><text style="color:#990033"> AD (Application Development) </text></button>
        </div>
        <br>
        <div class="row">
            <button type="button" class="btn btn-default" style="background:#ffffff;margin-left:32px;margin-top:20px;font-weight:bold;font-size:20px;width:400px;">
                <span class="glyphicon glyphicon-eye-open"></span><text style="color:#990033"> AM (Application Maintenance ) </text></button>
        </div>
        
        
    </div>
</div>