<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="report-login-bg-content">
			
			<div class="login-header">Report Application</div>
				
			<div class="report-login-main">
				
				<form name="loginForm" data-ng-submit="loginSubmit()">
				<div class="login-main-header">Welcome</div>          
				<input class="box1 border1" type="text" placeholder="user name" data-ng-model="userName" >
				<button type="submit" class="send">GO</button>
			  </form>
				
			</div>
			
		</div>
	</div>
</div>